*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 40px;
}
.heading {
    font-style: italic;
    color: red;
    font-size: 1em;

    border: 1px dotted red;
}
.text {
    color: blue;
    font-size: 0.5em;
    line-height: 1,5em;
}

.text2 .marked {
    background-color: pink;
}

.marked {
    color: red;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 0,5em;
}

ol {
    list-style-type: none;
    list-style-type: inside;
    /* counter-reset: number */
    padding: 1em 10em 1em 5em;
    border: 1px solid red;
    width: 350px;
    margin: 2em auto;
}

ol li::before {
    content: counter(number) ')';
    counter-increment: number;
    /* background-color: green; */
}

#red {
    color: red;
}

#orange {
    color: orange;
}

#green {
    color: green;
}

#yellow {

    color: yellow;
}

#purple {
    color: purple;
}